APP_NAME="##USERNAME##_app"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:##BACKEND_PORT##

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=##USERNAME##_app
DB_USERNAME=root
DB_PASSWORD=##USERNAME##_mysql_2024

SESSION_DRIVER=redis
REDIS_HOST=redis
REDIS_PASSWORD=##USERNAME##_redis_2024
REDIS_PORT=6379

LOG_CHANNEL=stack
LOG_LEVEL=debug
